<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Page Layout</title>
<link rel="stylesheet" href="../static/css/bootstrap.css"
	th:href="@{/css/bootstrap.css}" />
</head>
<body>
	<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a th:href="@{/user/}">Home</a></li>
      <li><a th:href="@{/admin/formUtilisateur}">Utilisateur</a></li>
      <li><a href="#">Connections</a></li>
      <li><a href="#">Transactions</a></li>
    </ul>
    <ul class="nav navbar-nav pull-right">
    <li>
    <a th:href="@{/login?logout}">Logout</a>
    </li>
    </ul>
  </div>
</nav>
<section layout:fragment="content1"></section>
<footer>
<div>FOOTER</div>
	
</footer>
</body>
</html>